<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="proxytype" value="1" />
    <!-- 0:None,1:SOCKS4,2:SOCKS5,3:HTTP -->
    <add key="proxyserver" value="127.0.0.1" />
    <add key="proxyport" value="1080" />
    <add key="proxyuser" value="" />
    <add key="proxypass" value="" />
    <add key="user" value="benyblack" />
    <add key="password" value="755130" />
    <add key="refresh" value="60" />
    <!-- FA or EN -->
    <add key="lang" value="FA" />
    
    <!--  oAuth  -->
    <add key="Token" value=""/>
    <add key="TokenSecret" value=""/>
    <add key="TokenHash" value=""/>
    
  </appSettings>
</configuration>



<?xml version="1.0" encoding="UTF-8"?>
<users type="array">
  <user>
    <id>15914999</id>
    <name>Mohsen Ahmadi</name>
    <screen_name>m_ahmadi</screen_name>
    <location>Tehran</location>
    <description></description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/316320547/100_100_normal.png</profile_image_url>
    <url>http://www.ahmadii.ir/weblog</url>
    <protected>false</protected>
    <followers_count>2</followers_count>
    <profile_background_color>1A1B1F</profile_background_color>
    <profile_text_color>666666</profile_text_color>
    <profile_link_color>2FC2EF</profile_link_color>
    <profile_sidebar_fill_color>252429</profile_sidebar_fill_color>
    <profile_sidebar_border_color>181A1E</profile_sidebar_border_color>
    <friends_count>16</friends_count>
    <created_at>Wed Aug 20 07:13:57 +0000 2008</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme9/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>15</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sat Jul 18 14:53:31 +0000 2009</created_at>
      <id>2706901701</id>
      <text>&#1607;&#1606;&#1608;&#1586; &#1575;&#1586; &#1588;&#1608;&#1705;&#1617; &#1582;&#1576;&#1585; &#1585;&#1601;&#1578;&#1606; &#1605;&#1580;&#1578;&#1576;&#1740; &#1576;&#1740;&#1585;&#1608;&#1606; &#1606;&#1740;&#1608;&#1605;&#1583;&#1605;...</text>
      <source>&lt;a href="http://www.chrisfinke.com/addons/twitterbar/"&gt;TwitterBar&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>56647734</id>
    <name>Moji Vendetta</name>
    <screen_name>MojiVendetta</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://static.twitter.com/images/default_profile_normal.png</profile_image_url>
    <url></url>
    <protected>false</protected>
    <followers_count>13</followers_count>
    <profile_background_color>9ae4e8</profile_background_color>
    <profile_text_color>000000</profile_text_color>
    <profile_link_color>0000ff</profile_link_color>
    <profile_sidebar_fill_color>e0ff92</profile_sidebar_fill_color>
    <profile_sidebar_border_color>87bc44</profile_sidebar_border_color>
    <friends_count>25</friends_count>
    <created_at>Tue Jul 14 08:51:42 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset></utc_offset>
    <time_zone></time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme1/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>1</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Tue Jul 14 08:55:08 +0000 2009</created_at>
      <id>2629606716</id>
      <text>&#1582;&#1608;&#1576; &#1575;&#1608;&#1604;&#1740;&#1606; &#1662;&#1587;&#1578; &#1585;&#1608; &#1576;&#1575; &#1580;&#1740;&#1705; &#1580;&#1740;&#1705;&#1608;&#1740; &#1576;&#1607;&#1606;&#1575;&#1605; &#1582;&#1575;&#1606; &#1605;&#1740; &#1584;&#1575;&#1585;&#1605; &#1576;&#1585;&#1575; &#1587;&#1604;&#1575;&#1605;&#1578;&#1740;&#1588; &#1589;&#1604;&#1608;&#1575;&#1578; &#1576;&#1585;&#1601;&#1587;&#1740;&#1606;</text>
      <source>&lt;a href="http://code.google.com/p/jikjikoo/"&gt;JikJikoo&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>41754227</id>
    <name>Scott Guthrie</name>
    <screen_name>scottgu</screen_name>
    <location>Redmond, WA</location>
    <description>I live in Seattle and build a few products for Microsoft</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/234169173/red_polo_big_normal.jpg</profile_image_url>
    <url>http://weblogs.asp.net/scottgu</url>
    <protected>false</protected>
    <followers_count>4820</followers_count>
    <profile_background_color>9ae4e8</profile_background_color>
    <profile_text_color>000000</profile_text_color>
    <profile_link_color>0000ff</profile_link_color>
    <profile_sidebar_fill_color>e0ff92</profile_sidebar_fill_color>
    <profile_sidebar_border_color>87bc44</profile_sidebar_border_color>
    <friends_count>18</friends_count>
    <created_at>Fri May 22 04:39:35 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>-28800</utc_offset>
    <time_zone>Pacific Time (US &amp; Canada)</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme1/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>195</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Mon Jul 20 06:17:42 +0000 2009</created_at>
      <id>2734584558</id>
      <text>@Galilyou If you do a view-source on the whitehouse.gov home page you can see a small viewstate hidden field declaration.</text>
      <source>web</source>
      <truncated>false</truncated>
      <in_reply_to_status_id>2734539062</in_reply_to_status_id>
      <in_reply_to_user_id>9678552</in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name>Galilyou</in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>16663834</id>
    <name>saffari</name>
    <screen_name>saffari</screen_name>
    <location>Tehran</location>
    <description>A developer whose life is being ruined by his PC!</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/61581679/79ee_normal.jpg</profile_image_url>
    <url></url>
    <protected>false</protected>
    <followers_count>6</followers_count>
    <profile_background_color>0099B9</profile_background_color>
    <profile_text_color>3C3940</profile_text_color>
    <profile_link_color>0099B9</profile_link_color>
    <profile_sidebar_fill_color>95E8EC</profile_sidebar_fill_color>
    <profile_sidebar_border_color>5ED4DC</profile_sidebar_border_color>
    <friends_count>2</friends_count>
    <created_at>Thu Oct 09 08:40:26 +0000 2008</created_at>
    <favourites_count>1</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme4/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>13</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Fri Nov 07 09:30:15 +0000 2008</created_at>
      <id>994664160</id>
      <text>
        &#8235;&#1583;&#1586;&#1583;&#1610; &#1583;&#1585; &#1585;&#1608;&#1586; &#1585;&#1608;&#1588;&#1606;!!!
        http://tinyurl.com/6hjdtf
      </text>
      <source>web</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>52764253</id>
    <name>Jik Jiku</name>
    <screen_name>JikJiku</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://static.twitter.com/images/default_profile_normal.png</profile_image_url>
    <url></url>
    <protected>true</protected>
    <followers_count>5</followers_count>
    <profile_background_color>9ae4e8</profile_background_color>
    <profile_text_color>000000</profile_text_color>
    <profile_link_color>0000ff</profile_link_color>
    <profile_sidebar_fill_color>e0ff92</profile_sidebar_fill_color>
    <profile_sidebar_border_color>87bc44</profile_sidebar_border_color>
    <friends_count>1</friends_count>
    <created_at>Wed Jul 01 16:01:11 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>-36000</utc_offset>
    <time_zone>Hawaii</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme1/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>33</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Fri Jul 10 21:47:04 +0000 2009</created_at>
      <id>2574259675</id>
      <text>test3</text>
      <source>&lt;a href="http://code.google.com/p/jikjikoo/"&gt;JikJikoo&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>19002586</id>
    <name>AmirFarshad Ebrahimi</name>
    <screen_name>Goftaniha</screen_name>
    <location>washington</location>
    <description>On line Journalist</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/290098401/IMG_2067_normal.jpg</profile_image_url>
    <url>http://www.farshadebrahimi.com</url>
    <protected>false</protected>
    <followers_count>1029</followers_count>
    <profile_background_color>ebd9a2</profile_background_color>
    <profile_text_color>2e2b21</profile_text_color>
    <profile_link_color>1c1c1a</profile_link_color>
    <profile_sidebar_fill_color>baa155</profile_sidebar_fill_color>
    <profile_sidebar_border_color>d1d158</profile_sidebar_border_color>
    <friends_count>1720</friends_count>
    <created_at>Thu Jan 15 00:01:53 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>3600</utc_offset>
    <time_zone>Berlin</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/19905073/khert__959__-_Copy.jpg</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>279</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Mon Jul 20 01:38:01 +0000 2009</created_at>
      <id>2730919803</id>
      <text>This phone Abbas Kargar Javid  killer Neda: 00982155669993</text>
      <source>web</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>18017251</id>
    <name>Soheil</name>
    <screen_name>soheilpro</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/237957079/soheilpro_normal.jpg</profile_image_url>
    <url>http://www.soheilrashidi.com</url>
    <protected>false</protected>
    <followers_count>59</followers_count>
    <profile_background_color>1A1B1F</profile_background_color>
    <profile_text_color>666666</profile_text_color>
    <profile_link_color>ef432f</profile_link_color>
    <profile_sidebar_fill_color>252429</profile_sidebar_fill_color>
    <profile_sidebar_border_color>181A1E</profile_sidebar_border_color>
    <friends_count>57</friends_count>
    <created_at>Wed Dec 10 11:29:54 +0000 2008</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme3/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>196</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sun Jul 19 14:52:54 +0000 2009</created_at>
      <id>2722646158</id>
      <text>Best interface name ever: IUI.</text>
      <source>web</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>47846480</id>
    <name>Kouroush R</name>
    <screen_name>Kouroush</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://static.twitter.com/images/default_profile_normal.png</profile_image_url>
    <url></url>
    <protected>false</protected>
    <followers_count>5</followers_count>
    <profile_background_color>9ae4e8</profile_background_color>
    <profile_text_color>000000</profile_text_color>
    <profile_link_color>0000ff</profile_link_color>
    <profile_sidebar_fill_color>e0ff92</profile_sidebar_fill_color>
    <profile_sidebar_border_color>87bc44</profile_sidebar_border_color>
    <friends_count>2</friends_count>
    <created_at>Wed Jun 17 03:50:43 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset></utc_offset>
    <time_zone></time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme1/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>0</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
  </user>
  <user>
    <id>35067843</id>
    <name>Fershteh Ghazi</name>
    <screen_name>iranbaan</screen_name>
    <location></location>
    <description>Journalist-human rights activist</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/265955199/IMG_2329_normal.JPG</profile_image_url>
    <url>http://www.fereshteh.blogfa.com/</url>
    <protected>false</protected>
    <followers_count>9718</followers_count>
    <profile_background_color>226118</profile_background_color>
    <profile_text_color>0a3805</profile_text_color>
    <profile_link_color>051014</profile_link_color>
    <profile_sidebar_fill_color>75d147</profile_sidebar_fill_color>
    <profile_sidebar_border_color>4ac734</profile_sidebar_border_color>
    <friends_count>78</friends_count>
    <created_at>Fri Apr 24 22:52:11 +0000 2009</created_at>
    <favourites_count>1</favourites_count>
    <utc_offset>0</utc_offset>
    <time_zone>London</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/18854828/jonbesh2.png</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>4174</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sun Jul 19 23:15:05 +0000 2009</created_at>
      <id>2729035600</id>
      <text>
        &#1602;&#1575;&#1590;&#1610; &#1585;&#1575;&#1587;&#1582;: &#1588;&#1575;&#1583;&#1610; &#1589;&#1583;&#1585; &#1602;&#1585;&#1575;&#1585; &#1606;&#1610;&#1587;&#1578; &#1570;&#1586;&#1575;&#1583; &#1588;&#1608;&#1583;
        http://bit.ly/TYPXd
      </text>
      <source>web</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>44139362</id>
    <name>&#1594;&#1604;&#1575;&#1605;&#1581;&#1587;&#1740;&#1606; &#1705;&#1585;&#1576;&#1575;&#1587;&#1670;&#1740;</name>
    <screen_name>gkarbaschi</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/246715112/karbaschi_normal.jpg</profile_image_url>
    <url></url>
    <protected>false</protected>
    <followers_count>5793</followers_count>
    <profile_background_color>FFFFFF</profile_background_color>
    <profile_text_color>333333</profile_text_color>
    <profile_link_color>990000</profile_link_color>
    <profile_sidebar_fill_color>BF1C1C</profile_sidebar_fill_color>
    <profile_sidebar_border_color>000000</profile_sidebar_border_color>
    <friends_count>0</friends_count>
    <created_at>Tue Jun 02 15:32:29 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/16225647/2.jpg</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>237</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Mon Jun 29 02:23:52 +0000 2009</created_at>
      <id>2381102173</id>
      <text>&#1605;&#1588;&#1705;&#1604;&#1575;&#1578; &#1583;&#1585;&#1587;&#1578; &#1588;&#1583;&#1567;&#1582;&#1608;&#1576; &#1606;&#1576;&#1608;&#1583; &#1576;&#1575; &#1607;&#1605;&#1740;&#1606; &#1602;&#1608;&#1578; &#1605;&#1606;&#1591;&#1602; &#1583;&#1740;&#1711;&#1585;&#1575;&#1606; &#1607;&#1605;</text>
      <source>web</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>19149694</id>
    <name>MicroJ</name>
    <screen_name>Jooti</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/274178345/yin-yang1_normal.jpg</profile_image_url>
    <url></url>
    <protected>true</protected>
    <followers_count>6</followers_count>
    <profile_background_color>EDECE9</profile_background_color>
    <profile_text_color>634047</profile_text_color>
    <profile_link_color>088253</profile_link_color>
    <profile_sidebar_fill_color>E3E2DE</profile_sidebar_fill_color>
    <profile_sidebar_border_color>D3D2CF</profile_sidebar_border_color>
    <friends_count>4</friends_count>
    <created_at>Sun Jan 18 16:58:16 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>-36000</utc_offset>
    <time_zone>Hawaii</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme3/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>51</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Wed Jul 15 09:07:53 +0000 2009</created_at>
      <id>2648439788</id>
      <text>RT: @miladkdz: RT: @OwenGerrard: Warning:  Dates in Calendar are closer than they appear. (via @tonyrobbins)</text>
      <source>&lt;a href="http://twitterfox.net/"&gt;TwitterFox&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>8807512</id>
    <name>mohamadreza</name>
    <screen_name>mohamadreza</screen_name>
    <location>Planet Earth</location>
    <description>living with internet - addicted to learning new stuff - working with asp.net</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/288304397/418886-6-oscar_normal.jpg</profile_image_url>
    <url></url>
    <protected>true</protected>
    <followers_count>1325</followers_count>
    <profile_background_color>8B542B</profile_background_color>
    <profile_text_color>333333</profile_text_color>
    <profile_link_color>9D582E</profile_link_color>
    <profile_sidebar_fill_color>EADEAA</profile_sidebar_fill_color>
    <profile_sidebar_border_color>D9B17E</profile_sidebar_border_color>
    <friends_count>159</friends_count>
    <created_at>Tue Sep 11 10:33:42 +0000 2007</created_at>
    <favourites_count>89</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme8/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>770</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sun Jul 19 21:33:27 +0000 2009</created_at>
      <id>2727724494</id>
      <text>things are getting funny here, now Basij is angry with AhmadiNejad because of announcing RahimMoshayi as his first vice president</text>
      <source>&lt;a href="http://www.tweetdeck.com/"&gt;TweetDeck&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>5878592</id>
    <name>Simone Chiaretta</name>
    <screen_name>simonech</screen_name>
    <location>Milano, Lombardy</location>
    <description>.NET developer with a passion for climbing</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/303239147/Simone_twitter_ribbon_normal.jpg</profile_image_url>
    <url>http://codeclimber.net.nz</url>
    <protected>false</protected>
    <followers_count>738</followers_count>
    <profile_background_color>352726</profile_background_color>
    <profile_text_color>3E4415</profile_text_color>
    <profile_link_color>D02B55</profile_link_color>
    <profile_sidebar_fill_color>99CC33</profile_sidebar_fill_color>
    <profile_sidebar_border_color>829D5E</profile_sidebar_border_color>
    <friends_count>524</friends_count>
    <created_at>Tue May 08 22:32:18 +0000 2007</created_at>
    <favourites_count>10</favourites_count>
    <utc_offset>3600</utc_offset>
    <time_zone>Rome</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme5/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>6097</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sun Jul 19 16:01:01 +0000 2009</created_at>
      <id>2723426580</id>
      <text>View from the top of today climb in Val malenco, campo moro #fb  http://twitpic.com/awbmq</text>
      <source>&lt;a href=&quot;http://twitterfon.net/&quot;&gt;TwitterFon&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>22173676</id>
    <name>Use jQuery</name>
    <screen_name>usejquery</screen_name>
    <location>The Web</location>
    <description>Use jQuery is a showcase of websites that use the JavaScript library jQuery. -This Blog Use jQuery- is a blog about jQuery with interesting tutorials.</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/115422537/avatar_normal.jpg</profile_image_url>
    <url>http://usejquery.com/</url>
    <protected>false</protected>
    <followers_count>3429</followers_count>
    <profile_background_color>0F1923</profile_background_color>
    <profile_text_color>333333</profile_text_color>
    <profile_link_color>0F67A1</profile_link_color>
    <profile_sidebar_fill_color>8bcdf8</profile_sidebar_fill_color>
    <profile_sidebar_border_color>0F67A1</profile_sidebar_border_color>
    <friends_count>3689</friends_count>
    <created_at>Fri Feb 27 18:54:40 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>3600</utc_offset>
    <time_zone>Berlin</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/5386274/twitterbg.jpg</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>220</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Fri Jul 17 14:43:04 +0000 2009</created_at>
      <id>2689179808</id>
      <text>Thanks for all RT's and #followfriday @radekstangel @hashajax @jonrawlins and @kellyshipp</text>
      <source>&lt;a href="http://www.atebits.com/"&gt;Tweetie&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>20674456</id>
    <name>iDevCenter</name>
    <screen_name>iDevCenter</screen_name>
    <location>Web, Internet</location>
    <description></description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/78452293/Icon-82x82_normal.jpg</profile_image_url>
    <url>http://www.idevcenter.com</url>
    <protected>false</protected>
    <followers_count>42</followers_count>
    <profile_background_color>575757</profile_background_color>
    <profile_text_color>333333</profile_text_color>
    <profile_link_color>006699</profile_link_color>
    <profile_sidebar_fill_color>ffffff</profile_sidebar_fill_color>
    <profile_sidebar_border_color>575757</profile_sidebar_border_color>
    <friends_count>0</friends_count>
    <created_at>Thu Feb 12 12:52:37 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/4437892/Header.Logo.png</profile_background_image_url>
    <profile_background_tile>true</profile_background_tile>
    <statuses_count>113</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sat Jul 18 12:47:16 +0000 2009</created_at>
      <id>2705675071</id>
      <text>#iDCWiki &#8235;sao;kjoi http://bit.ly/N7ykB</text>
      <source>&lt;a href="http://twitterfeed.com"&gt;twitterfeed&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>5676102</id>
    <name>Scott Hanselman</name>
    <screen_name>shanselman</screen_name>
    <location>Portland, Oregon</location>
    <description>Programmer, author, teacher, speaker, web guy, podcaster, starving stand-up comic, diabetic, Microsoft shill. Social Media! Why not?</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/318933529/Scott_Hanselman_normal.png</profile_image_url>
    <url>http://hanselman.com</url>
    <protected>false</protected>
    <followers_count>15578</followers_count>
    <profile_background_color>d1cdc1</profile_background_color>
    <profile_text_color>696969</profile_text_color>
    <profile_link_color>72412c</profile_link_color>
    <profile_sidebar_fill_color>b8aa9c</profile_sidebar_fill_color>
    <profile_sidebar_border_color>b8aa9c</profile_sidebar_border_color>
    <friends_count>1306</friends_count>
    <created_at>Tue May 01 05:55:26 +0000 2007</created_at>
    <favourites_count>143</favourites_count>
    <utc_offset>-28800</utc_offset>
    <time_zone>Pacific Time (US &amp; Canada)</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/22858497/twitbacks_background.jpg</profile_background_image_url>
    <profile_background_tile>true</profile_background_tile>
    <statuses_count>10453</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Mon Jul 20 04:32:37 +0000 2009</created_at>
      <id>2733378395</id>
      <text>@ronaldwidha ;) or the regular weekly podcast at http://www.hanselminutes.com</text>
      <source>&lt;a href="http://www.atebits.com/"&gt;Tweetie&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id>2724451864</in_reply_to_status_id>
      <in_reply_to_user_id>7080452</in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name>ronaldwidha</in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>28366646</id>
    <name>Hadi Eskandari</name>
    <screen_name>HEskandari</screen_name>
    <location>Internet</location>
    <description>Software Developer</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/308216713/Me-New_normal.png</profile_image_url>
    <url>http://blog.hightech.ir</url>
    <protected>false</protected>
    <followers_count>86</followers_count>
    <profile_background_color>739296</profile_background_color>
    <profile_text_color>454040</profile_text_color>
    <profile_link_color>c87a37</profile_link_color>
    <profile_sidebar_fill_color>92d0d3</profile_sidebar_fill_color>
    <profile_sidebar_border_color>f7dfb5</profile_sidebar_border_color>
    <friends_count>72</friends_count>
    <created_at>Thu Apr 02 16:19:56 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>-36000</utc_offset>
    <time_zone>Hawaii</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme6/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>412</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sun Jul 19 12:58:46 +0000 2009</created_at>
      <id>2721577441</id>
      <text>@jcansdale I'd go with AVG....I had NOD32 on my own PC with no virus reporting, immediately after switching to AVG lots of them were found</text>
      <source>&lt;a href="http://www.tweetdeck.com/"&gt;TweetDeck&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id>2721553028</in_reply_to_status_id>
      <in_reply_to_user_id>14569955</in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name>jcansdale</in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>33185159</id>
    <name>MHM - Mirzazadeh</name>
    <screen_name>Lythis</screen_name>
    <location></location>
    <description>Co-Founder of Lythis Group Mainly focused on creating unchallangable websites - There are some websites and ideas on their way that can surprise every ppl.</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/146439657/p2_normal.jpg</profile_image_url>
    <url>http://I will let you know later , Just keep yourself up with this</url>
    <protected>false</protected>
    <followers_count>84</followers_count>
    <profile_background_color>8f9c4f</profile_background_color>
    <profile_text_color>333333</profile_text_color>
    <profile_link_color>ba7a12</profile_link_color>
    <profile_sidebar_fill_color>f1f4eb</profile_sidebar_fill_color>
    <profile_sidebar_border_color>faeb61</profile_sidebar_border_color>
    <friends_count>71</friends_count>
    <created_at>Sun Apr 19 12:02:29 +0000 2009</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>0</utc_offset>
    <time_zone>London</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/10391641/c20-3.jpg</profile_background_image_url>
    <profile_background_tile>true</profile_background_tile>
    <statuses_count>118</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sun May 17 10:59:58 +0000 2009</created_at>
      <id>1825021660</id>
      <text>'Firefox Mobile' alpha hits Windows Mobile 6 &amp;gt;&amp;gt; http://bit.ly/1UelS</text>
      <source>&lt;a href="http://bit.ly"&gt;bit.ly&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>740483</id>
    <name>Shaho Toofani</name>
    <screen_name>shaho</screen_name>
    <location>Kurdistan</location>
    <description>Freelance Web Developer</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/54606495/75x75-shaho-bahar_normal.jpg</profile_image_url>
    <url>http://www.toofani.net</url>
    <protected>false</protected>
    <followers_count>168</followers_count>
    <profile_background_color>C6E2EE</profile_background_color>
    <profile_text_color>663B12</profile_text_color>
    <profile_link_color>1F98C7</profile_link_color>
    <profile_sidebar_fill_color>DAECF4</profile_sidebar_fill_color>
    <profile_sidebar_border_color>C6E2EE</profile_sidebar_border_color>
    <friends_count>94</friends_count>
    <created_at>Wed Jan 31 22:12:20 +0000 2007</created_at>
    <favourites_count>3</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/3090764/bg.jpg</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>325</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Wed Jul 08 20:49:36 +0000 2009</created_at>
      <id>2538647356</id>
      <text>BBC Glow is a JavaScript library which gives you... (http://www.bbc.co.uk/glow/)</text>
      <source>web</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>15842280</id>
    <name>Milad</name>
    <screen_name>miladkdz</screen_name>
    <location>Tehran</location>
    <description>Born in Feb. 19, 1989. A pure GEEK! Computer Software Engineering Student. C# and VB.net Programmer. Love ASP.NET and Web Designing.</description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/204745143/myPic6_normal.jpg</profile_image_url>
    <url>http://miladkdz.ariler.net</url>
    <protected>true</protected>
    <followers_count>85</followers_count>
    <profile_background_color>709397</profile_background_color>
    <profile_text_color>333333</profile_text_color>
    <profile_link_color>FF3300</profile_link_color>
    <profile_sidebar_fill_color>A0C5C7</profile_sidebar_fill_color>
    <profile_sidebar_border_color>86A4A6</profile_sidebar_border_color>
    <friends_count>75</friends_count>
    <created_at>Wed Aug 13 20:53:53 +0000 2008</created_at>
    <favourites_count>6</favourites_count>
    <utc_offset>12600</utc_offset>
    <time_zone>Tehran</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme6/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>938</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Mon Jul 20 06:10:41 +0000 2009</created_at>
      <id>2734514670</id>
      <text>I'm Vista x64 Now ;-)</text>
      <source>&lt;a href="http://twitterfox.net/"&gt;TwitterFox&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>718993</id>
    <name>Mahdi</name>
    <screen_name>mahdi</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/288984956/green_1756_red_normal.jpg</profile_image_url>
    <url></url>
    <protected>true</protected>
    <followers_count>698</followers_count>
    <profile_background_color>352726</profile_background_color>
    <profile_text_color>3E4415</profile_text_color>
    <profile_link_color>D02B55</profile_link_color>
    <profile_sidebar_fill_color>99CC33</profile_sidebar_fill_color>
    <profile_sidebar_border_color>829D5E</profile_sidebar_border_color>
    <friends_count>121</friends_count>
    <created_at>Sun Jan 28 10:39:33 +0000 2007</created_at>
    <favourites_count>6</favourites_count>
    <utc_offset>-28800</utc_offset>
    <time_zone>Pacific Time (US &amp; Canada)</time_zone>
    <profile_background_image_url>http://static.twitter.com/images/themes/theme5/bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>4430</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Mon Jul 20 04:52:25 +0000 2009</created_at>
      <id>2733630438</id>
      <text>Arrived!  http://bit.ly/ZHqc3</text>
      <source>&lt;a href=&quot;http://twitterrific.com&quot;&gt;Twitterrific&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
  <user>
    <id>714023</id>
    <name>Keyvan Nayyeri</name>
    <screen_name>keyvan</screen_name>
    <location></location>
    <description></description>
    <profile_image_url>http://s3.amazonaws.com/twitter_production/profile_images/321364903/twitterProfilePhoto_normal.jpg</profile_image_url>
    <url>http://nayyeri.net</url>
    <protected>false</protected>
    <followers_count>621</followers_count>
    <profile_background_color>cdc6c6</profile_background_color>
    <profile_text_color>050505</profile_text_color>
    <profile_link_color>9d0620</profile_link_color>
    <profile_sidebar_fill_color>938080</profile_sidebar_fill_color>
    <profile_sidebar_border_color>000000</profile_sidebar_border_color>
    <friends_count>56</friends_count>
    <created_at>Sat Jan 27 13:47:22 +0000 2007</created_at>
    <favourites_count>0</favourites_count>
    <utc_offset>-21600</utc_offset>
    <time_zone>Central America</time_zone>
    <profile_background_image_url>http://s3.amazonaws.com/twitter_production/profile_background_images/41892/body_bg.gif</profile_background_image_url>
    <profile_background_tile>false</profile_background_tile>
    <statuses_count>4588</statuses_count>
    <notifications>false</notifications>
    <verified>false</verified>
    <following>true</following>
    <status>
      <created_at>Sun Jul 19 17:53:31 +0000 2009</created_at>
      <id>2724853641</id>
      <text>RT @hamids @axosoft: OnTime 2009 for iPhone now live on the App Store! http://tr.im/ontimeiphone (Free for "Admin" user - requires V9.1 Web)</text>
      <source>&lt;a href="http://www.twhirl.org/"&gt;twhirl&lt;/a&gt;</source>
      <truncated>false</truncated>
      <in_reply_to_status_id></in_reply_to_status_id>
      <in_reply_to_user_id></in_reply_to_user_id>
      <favorited>false</favorited>
      <in_reply_to_screen_name></in_reply_to_screen_name>
    </status>
  </user>
</users>
